services:
  setfit-api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app
      - ./models:/app/models
    environment:
      - MODEL_PATH=/app/models
      # - API_KEY=your_secret_key
      - HF_TOKEN # Passes HF_TOKEN from host environment
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: 1
    #           capabilities: [ gpu ]
