fastapi
uvicorn[standard]
setfit
scikit-learn
sentence-transformers
pydantic
python-multipart
# Flash Attention requires these:
packaging
# flash-attn>=2.0.0
# ninja
accelerate
transformers==4.39.0
xformers
